* {
  box-sizing: border-box;
  margin: 0;
}

html {
  color-scheme: dark light;
}

main {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  padding: 1rem;
}

/* \/ Details accordion \/ */
.details-accordion {
  --_duration: 0.3s;

  inline-size: 50ch;

  @media (prefers-reduced-motion: no-preference) {
    interpolate-size: allow-keywords;
  }

  &::details-content {
    block-size: 0;
    opacity: 0;
    overflow-y: clip;
    transition: content-visibility var(--_duration) allow-discrete,
      opacity var(--_duration), block-size var(--_duration);
  }

  &[open]::details-content {
    block-size: auto;
    opacity: 1;
  }
}
/* /\ Details accordion /\ */

/* \/ Images comparison \/ */
@layer imgCompare {
  .imgCompare-section {
    display: grid;

    > * {
      grid-area: 1 / 1;
    }

    > section {
      display: grid;
      place-content: center;
    }

    .imgCompare-before {
      mask: linear-gradient(to right, #000 0, var(--position, 50%), #0000 0);
    }

    .imgCompare-after {
      mask: linear-gradient(to right, #0000 0, var(--position, 50%), #000 0);
    }

    > input[type="range"] {
      appearance: none;
      background: transparent;
      cursor: pointer;
      z-index: 1;
      -webkit-tap-highlight-color: transparent;

      &::-webkit-slider-thumb {
        appearance: none;
        background-color: CanvasText;
        block-size: 100dvh;
        inline-size: 4px;
      }

      &::-moz-range-thumb {
        appearance: none;
        background-color: CanvasText;
        block-size: 100dvh;
        inline-size: 4px;
      }
    }
  }

  img {
    max-block-size: 80dvh;
    max-inline-size: 100%;
  }
}
/* /\ Images comparison /\ */
