*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #4b0103;
  background: radial-gradient(
    circle,
    rgba(75, 1, 3, 1) 0%,
    rgba(94, 1, 11, 1) 50%,
    rgba(124, 1, 24, 1) 100%
  );
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.cpu-outerContainer {
  width: 50rem;
  height: 50rem;
  max-width: 90vw;
  margin: auto;
  background-color: #716a66;
  border-radius: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.cpu-innerContainer {
  width: 40rem;
  height: 40rem;
  max-width: 80vw;
  background-color: #29292c;
  border-radius: 0.5rem;
  padding: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.cpu-upperLeftBlock {
  background-color: #0c85d8;
  width: 15rem;
  height: 10rem;
}

.cpu-upperRightBlock {
  background-color: #0c85d8;
  width: 15rem;
  height: 10rem;
}

.cpu-bottomLeftBlock {
  background-color: #e5e5d2;
  width: 10rem;
  height: 20rem;
}

.cpu-bottomRightBlock {
  background-color: #e5e5d2;
  width: 10rem;
  height: 15rem;
}
