*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background: gray;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  margin: 0;
}

.slides {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.slide {
  align-items: center;
  background: turquoise;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
}

.slide1 {
  background-image: url(../assets/img-forest.jpg);
}
.slide2 {
  background-image: url(../assets/img-lake.jpg);
}
.slide3 {
  background-image: url(../assets/img-park.jpg);
}
.slide4 {
  background-image: url(../assets//img-pond.jpg);
}
.slide5 {
  background-image: url(../assets/img_hill.jpg);
}

.slide > * {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  margin: 0;
  transition: transform 0.5s;
  width: 100%;
}

.slide > *:first-child {
  transform: translateY(-100%);
}

.slide.open-active > *:first-child {
  transform: translateY(0);
}

.slide > *:last-child {
  transform: translateY(100%);
}

.slide.slide.open-active > *:last-child {
  transform: translateY(0);
}

.slide p {
  font-size: 2rem;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
}

.slide p:nth-child(2) {
  font-size: 4rem;
}

.slide.open {
  flex: 5;
  font-size: 3rem;
}

@media (max-width: 900px) {
  .slides {
    flex-direction: column;
  }

  .slide {
    flex-direction: row;
  }

  .slide > * {
    flex: 0 1 auto;
  }

  .slide > *:first-child {
    transform: translateX(-100%);
  }

  .slide.open-active > *:first-child {
    transform: translateX(0);
  }

  .slide > *:last-child {
    transform: translateX(100%);
  }

  .slide.slide.open-active > *:last-child {
    transform: translateX(0);
  }

  .slide p {
    font-size: 1rem;
  }

  .slide p:nth-child(2) {
    font-size: 2rem;
  }

  .slide.open {
    font-size: 1.5rem;
  }
}
