*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #fff;
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

footer {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.25rem 2.5rem;
}

.topLeft-bar {
  background-color: red;
  height: 10px;
  max-width: 30vw;
  width: 300px;
}

.bottomCenter-diamond {
  border: 5px solid yellow;
  height: 75px;
  rotate: 45deg;
  width: 75px;
}

.bottomRight-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  justify-content: space-between;
}

.bottomRight-smallDiamond {
  border: 5px solid gray;
  height: 50px;
  margin: 50px auto;
  rotate: 45deg;
  width: 50px;
}

.bottomRight-largeDiamond {
  border: 5px solid gray;
  height: 65px;
  margin: 50px auto;
  rotate: 45deg;
  width: 65px;
}
