body {
  background: rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
}

header {
  margin: 0.5rem;
}

.step {
  margin: auto;
  width: 100%;
}

#err1,
#err2 {
  color: red;
  font-size: 0.75rem;
}

.hidden {
  display: none;
}
