body {
  background: rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
}

header {
  margin: 0.5rem;
  font-size: 1.75rem;
  font-weight: bold;
}

.step {
  margin: auto;
  width: 100%;
}

.hidden {
  display: none;
}
