body {
  background-color: aqua;
}

header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: rgb(180, 255, 255);
}

img {
  max-width: 100px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: end;
}

li {
  list-style: none;
}
