/* Color scheme */
@media (prefers-color-scheme: dark) {
  body {
    background: #373f51;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #d8dbe2;
  }
}

#color-scheme-status {
  padding: 10px;
}

/* Font change button */
#fontChange-btn {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

/* Main styling */
body {
  color: #1b1b1e;
  margin: 0;
}

body * {
  background-color: #669bbc;
}

header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 0;
  padding: 1vw;
}

img {
  max-width: 100px;
  border-radius: 5px;
}

nav {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: center;
  border: 5px solid #1b1b1e;
  border-radius: 5px;
}

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

li {
  margin: 0 1vw;
}

a {
  color: #3a0ca3;
  text-decoration: none;
}

a:hover {
  color: #d8dbe2;
}

section {
  padding: 1vw;
  margin: 1vw;
  font-size: 1.25rem;
  border-radius: 5px;
}

.middle-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #373f51;
}

.middle-container * {
  border-radius: 5px;
  font-size: 1.25rem;
}

aside {
  padding: 10vh 1vw;
  max-width: 30vw;
}

article {
  padding: 1vw;
  max-width: 40vw;
}

summary {
  cursor: pointer;
}

footer {
  text-align: center;
  background-color: #373f51;
}

footer h6 {
  padding: 1vw;
  width: 30vw;
  font-size: 1rem;
  border-radius: 5px;
  margin: 5vh auto;
}

@media (max-width: 800px) {
  body * {
    margin: 0 0 1vh;
  }

  img {
    margin: auto;
  }

  ul {
    justify-content: flex-start;
  }

  li {
    margin: 0 4vw;
  }

  .middle-container {
    flex-flow: column wrap;
  }

  aside {
    max-width: 95vw;
  }

  article {
    max-width: 95vw;
  }

  footer h6 {
    width: 95vw;
  }
}
