html {
  background: lightblue;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input {
  padding: 0.75rem;
  width: 100%;
}

.search-form {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin: 50px auto;
  max-width: 330px;
}

input.search {
  border: 5px solid #f7f7f7;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  font-size: 1rem;
  margin: 0;
  max-width: 97vw;
  position: relative;
  outline: 0;
  text-align: center;
  top: 0.25rem;
  width: 350px;
  z-index: 1;
}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
}

.suggestions li {
  background: white;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 1rem;
  text-transform: capitalize;
}

.suggestions li:nth-child(even) {
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
}

.suggestions li:nth-child(odd) {
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
}

span.population {
  font-size: 1rem;
}

.highlight {
  background: lightblue;
}
