html {
  background: lightblue;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.site-wrap {
  max-width: 700px;
  margin: 70px auto;
  background: white;
  padding: 40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
}

.site-wrap img {
  width: 500px;
  max-width: 70vw;
}

.fixed-nav .site-wrap {
  transform: scale(1);
}

header {
  text-align: center;
  height: 50vh;
  background: url(../assets/img-pond.jpg) bottom center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2);
}

nav {
  background: black;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width: 0;
  overflow: hidden;
  background: white;
  transition: all 1s;
  font-weight: 600;
  font-size: 30px;
}

.fixed-nav li.logo {
  max-width: 500px;
}

li.logo a {
  color: black;
}

nav a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
}

input {
  padding: 0.75rem;
  width: 100%;
}

.search-form {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin: 50px auto;
  max-width: 330px;
}

input.search {
  border: 5px solid #f7f7f7;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  font-size: 1rem;
  margin: 0;
  max-width: 97vw;
  position: relative;
  outline: 0;
  text-align: center;
  top: 0.25rem;
  width: 350px;
  z-index: 1;
}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
}

.suggestions li {
  background: white;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 1rem;
  text-transform: capitalize;
}

.suggestions li:nth-child(even) {
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
}

.suggestions li:nth-child(odd) {
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
}

span.population {
  font-size: 1rem;
}

.highlight {
  background: lightblue;
}
