:root {
  --bg-color: #f4f4f4;
  --button-bg: #007bff;
  --button-text: #fff;
  --input-border: #ccc;
  --main-bg: #fff;
  --text-color: #333;
  --transition-time: 0.3s;
}

[data-theme="dark"] {
  --bg-color: #333;
  --button-bg: #555;
  --input-border: #666;
  --main-bg: #444;
  --text-color: #f4f4f4;
}

body {
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  transition: var(--transition-time);
}

.tasks-main {
  background-color: var(--main-bg);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  padding: 20px;
  transition: transform var(--transition-time),
    box-shadow var(--transition-time);
  width: 100%;
}

#tasks-themeBtn {
  background: var(--button-bg);
  border: none;
  border-radius: 5px;
  color: var(--button-text);
  cursor: pointer;
  padding: 7px 8px 9px 6px;
  transition: var(--transition-time);
}

#tasks-themeBtn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.tasks-section {
  display: flex;
  gap: 10px;
}

#task-input {
  border: 1px solid var(--input-border);
  border-radius: 5px;
  flex: 1;
  font-size: 1rem;
  padding: 10px;
  transition: var(--transition-time);
}

#tasks-addTaskBtn {
  background: var(--button-bg);
  border: none;
  border-radius: 4px;
  color: var(--button-text);
  cursor: pointer;
  padding: 10px;
  transition: var(--transition-time);
}

#tasks-addTaskBtn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

#tasks-ul {
  list-style: none;
  padding: 0;
}

#tasks-ul li {
  align-items: center;
  border-bottom: 1px solid var(--input-border);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  transition: var(--transition-time);
}

#tasks-ul li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#tasks-ul li .completed {
  opacity: 0.5;
  text-decoration: line-through;
}

#tasks-ul li span {
  cursor: pointer;
  width: 100%;
}

#tasks-ul li button {
  background: #ff4d4d;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  transition: var(--transition-time);
}

#tasks-ul li button:hover {
  background-color: #cc0000;
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#tasks-ul li {
  animation: fadeIn 0.5s ease-in-out;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  .tasks-main {
    padding: 15px;
  }

  .tasks-section {
    flex-direction: column;
  }

  #tasks-addTaskBtn {
    width: 100%;
  }

  #tasks-ul li {
    flex-direction: column;
  }

  #tasks-ul li button {
    margin-top: 20px;
    width: 100%;
  }
}
