:root {
  --bg-color: #edede9;
  --btnMain-bg: #023e8a;
  --btnMain-hover: #0077b6;
  --btnMain-text: #fff;
  --btnSub-bg: #d90429;
  --btnSub-hover: #ef233c;
  --btnSub-text: white;
  --input-border: #ccc;
  --main-bg: #fff;
  --text-color: #333;
  --transition-time: 0.3s;
}

[data-theme="dark"] {
  --bg-color: #333;
  --btnMain-bg: #716a5c;
  --btnMain-hover: #a39b8b;
  --input-border: #666;
  --main-bg: #444;
  --text-color: #f4f4f4;
}

body {
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  transition: var(--transition-time);
}

.tasks-main {
  background-color: var(--main-bg);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  padding: 20px;
  transition: transform var(--transition-time),
    box-shadow var(--transition-time);
  width: 100%;
}

#tasks-themeBtn {
  background: var(--btnMain-bg);
  border: none;
  border-radius: 5px;
  color: var(--btnMain-text);
  cursor: pointer;
  padding: 7px 8px 9px 6px;
  transition: var(--transition-time);
}

#tasks-themeBtn:hover {
  background-color: var(--btnMain-hover);
  transform: scale(1.05);
}

.tasks-section {
  display: flex;
  gap: 10px;
}

#task-input {
  border: 1px solid var(--input-border);
  border-radius: 5px;
  flex: 1;
  font-size: 1rem;
  padding: 10px;
  transition: var(--transition-time);
}

#tasks-addTaskBtn {
  background: var(--btnMain-bg);
  border: none;
  border-radius: 5px;
  color: var(--btnMain-text);
  cursor: pointer;
  padding: 10px;
  transition: var(--transition-time);
}

#tasks-addTaskBtn:hover {
  background-color: var(--btnMain-hover);
  transform: scale(1.05);
}

#tasks-ul {
  list-style: none;
  padding: 0;
}

#tasks-ul li {
  align-items: center;
  border-bottom: 1px solid var(--input-border);
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  transition: var(--transition-time);
}

#tasks-ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#tasks-ul li .completed {
  opacity: 0.7;
  text-decoration: line-through;
}

#tasks-ul li span {
  align-items: center;
  cursor: pointer;
  display: flex;
  min-height: 50px;
  width: 100%;
}

#tasks-ul li button {
  background: var(--btnSub-bg);
  border: none;
  border-radius: 5px;
  color: var(--btnSub-text);
  cursor: pointer;
  padding: 5px 10px;
  transition: var(--transition-time);
}

#tasks-ul li button:hover {
  background-color: var(--btnSub-hover);
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#tasks-ul li {
  animation: fadeIn 0.5s ease-in-out;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  .tasks-main {
    padding: 15px;
  }

  .tasks-section {
    flex-direction: column;
  }

  #tasks-addTaskBtn {
    width: 100%;
  }

  #tasks-ul li {
    flex-direction: column;
  }

  #tasks-ul li button {
    margin-top: 20px;
    width: 100%;
  }
}
