@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: gray;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0.1rem;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.bars {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin: 1rem 2rem;
}

.heart_bar {
  background-color: pink;
  height: 1rem;
  position: relative;
  width: 10rem;
}

/* Heart icon */
.heart_bar::before {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  color: pink;
  content: "❤";
  display: flex;
  height: 1.5rem;
  justify-content: center;
  left: -1.75rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
}

/* Divider */
.heart_bar::after {
  background-color: white;
  border: 0.15rem solid gray;
  border-bottom: none;
  border-top: none;
  content: "";
  height: 1rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0.15rem;
}

.eye_bar {
  background-color: blue;
  height: 1rem;
  position: relative;
  width: 8rem;
}

/* Eye icon */
.eye_bar::before {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  color: blue;
  content: "👁";
  display: flex;
  height: 1.5rem;
  justify-content: center;
  left: -1.75rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
}

.status {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;
}

/* .stars {
  display: flex;
}

.star {
  font-size: 2rem;
}

.star-inactive {
  color: dimgray;
}

.star-active {
  color: black;
  position: relative;
}

.star-active::before {
  color: darkgray;
  content: "★";
  font-size: 1.3rem;
  left: 0.29rem;
  position: absolute;
  top: 0.54rem;
} */

.stars,
.icons {
  display: flex;
  justify-content: end;
}

.star {
  font-size: 2rem;
  line-height: 1;
  position: relative;
}

.star-inactive {
  color: dimgray;
}

/* Star border */
.star-active {
  color: black;
}

/* Star color */
.star-active::before {
  color: darkgray;
  content: "★";
  font-size: 0.7em;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  align-items: center;
  background-color: darkred;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 0.5rem;
  height: 1.25rem;
  justify-content: center;
  margin: 0 0.2rem;
  width: 1.25rem;
}

.ammo {
  align-items: end;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 0.5rem;
}

.ammo-count {
  color: white;
  font-family: "Squada One", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 0.5rem;
  paint-order: stroke fill;
  -webkit-text-stroke: 2px black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: center;
}

.button {
  background-color: white;
  height: 1rem;
  width: 1rem;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: space-between;
}

.map {
  background-color: white;
  height: 5rem;
  width: 5rem;
}

.stats {
  background-color: white;
  height: 5rem;
  width: 5rem;
}
